h2 { 
  font-family:cursive;
  color: #6666ff;
  
}

.p1 {
	
font-family: Arial; 
font-size: 24px;
color: #ff66ff;
	
}

.p2 {
	
font-family: Arial;
font-size: 24px;
color: #009933;
	
}

.p3 {
	
font-family: cursive;
font-size: 24px;
color: black;
background-color:  #80d4ff;	/* фон кнопки*/
display: block; /* Властивість display дозволяє змінити спосіб відображення певного елемента на сторінці. 
                   Якщо в якості значення задати block - тоді це призведе до того, що будь-який елемент буде відображатися аналогічно тегу DIV .*/
margin: auto; /* таким чином елемент розташується по центру*/
margin-top: 1%; /* відступ зверху*/
margin-bottom: 1%;/* відступ знизу*/
}


.triangle-bottomright {
	
	width: 0;
	height: 20px;
	border-bottom: 100px solid red; /* Властивість дозволяє одночасно встановити товщину, стиль і колір кордону внизу елемента.*/
	border-left: 100px solid transparent; /* Властивість border-left дозволяє одночасно встановити товщину, стиль і колір лівої межі елемента. */
	margin: auto;
}
